.Menu {
    margin-top: 25px;
}

.homeText {
    font-size: 18px;
}

.guestText {
    font-size: 18px;
    margin-bottom: 0;
}

.mailPassText {
    font-size: 18px;
    color: gray;
    margin-top: 5px;
}